body {
	font-family: monospace;	
	background-image: url("../img/background.png");
	background-repeat: repeat;
}
.weather-icon {

  float:right;

}

.forecast div:nth-child(3) { 
    display: none; 
}
