<!DOCTYPE html>
<html lang="en">
<head>
<title>Weather Demo</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.js"></script>
<script src="js/weather.js"></script>
<link rel="stylesheet" href="css/main.css">

</head>
<body>
<div class="container">
	<div class="jumbotron" style="background-color:#f4512e">
		<h1>Weather demo</h1>
	</div>

	<div class="col-sm-12">
		<div class="well">
		<main ng-controller="WeatherForecastCtrl" ng-app="weather">
			<form class="form">
				<input type="text" class="form-control" ng-model="town" placeholder="Enter town">
			</form>
			<br>
			<div class="well" ng-hide="dataLoaded">
			  Loading... <span class="fa fa-spinner fa-spin"></span>
			</div>
			
			<h4 ng-show="town">{{ city }}</h4>
			<section class="forecast">
				<div ng-repeat-start="day in forecast" ng-if="$first" ng-show="town" class="today">	
<pre>Today {{ date *1000 | date: 'EEEE dd.MM.yyyy' }} <code><img class="weather-icon" ng-src="{{icon}}"/></code>
Weather: {{ weatherDescription }}
Clouds: {{ clouds }}%
Temp: {{ weather | number: 1 }}&deg;C
Feels like: {{ feels | number: 2 }}&deg;C
Humidity: {{ humidity }}%
Wind speed: {{ windSpeed | number: 2 }} m/s
Sunrise: {{ sunrise * 1000 | date:'HH:mm Z' }}
Sunset: {{ sunset * 1000 | date:'HH:mm Z' }}
<code><span style="font-size:10px" class="weather-icon">Last updated {{ date * 1000 | date: 'HH:mm' }}</span></code>
</pre>
				</div>
				<div ng-repeat-end ng-show="town" ng-if="!first">
<pre>Forecast {{day.dt *1000 | date: 'EEEE dd.MM.yyyy' }} <code><img class="weather-icon" ng-src="http://openweathermap.org/img/w/{{day.weather[0].icon}}.png"/></code>
Weather: {{day.weather[0].description }} 
Temp: {{ day.temp.min | number: 1 }}&deg;C / {{ day.temp.max | number: 1 }}&deg;C
Humidity: {{ day.humidity}}%
Wind speed: {{ day.speed | number: 2 }} m/s
</pre>
				</div>
			</section>
		</main>	
		</div>
	</div>
</div>

</body>
</html>